<app-header></app-header>
<app-section-header [title]="'Deans'"></app-section-header>

<app-section-intro [title]="'Drive your institution mission forward and achieve your goals'"
    [section]="'serve'"  [image_path1]="'images/ccccc.webp'" [image_path]="'images/GettyImages-1072205210.webp'"
    [subtitle]="'helps deans to operate strategycally to metts stakeholders expectations'"></app-section-intro>


<app-checked-list [mesured2]="mesured2" [mesured]="mesured"
    [title1]="'Better tools, better insights'"></app-checked-list>
<app-footer></app-footer>