<app-header></app-header>

<app-section-header [title]="'Student Learning experience'"></app-section-header>



<app-section-intro [title]="'Showcase the entire learning experience and reinforce formative assessment.'"
    [image_path]="'images/AP-Hero-Image-2048x1240.png'"
    [subtitle]="'Gain a comprehensive view of each student’s learning journey, track progress across courses, and use actionable insights to strengthen formative assessments and improve learning outcomes.'"></app-section-intro>

<app-checked-list [mesured]="mesured" [title1]="'Monitor student features and track their progress'"></app-checked-list>

<app-card-list [title]="'What to expect'" [list]="insightsList"></app-card-list>
<app-footer></app-footer>