<app-header></app-header>

<app-section-header [title]="'Student Learning experience'"></app-section-header>



<app-section-intro [title]="'Showcase the entire learning experience and reinforce formative assessment.'"
    [image_path]="'images/AP-Hero-Image-2048x1240.png'"
    [subtitle]="'Monitor student features and track their progress'"></app-section-intro>

<app-checked-list [mesured]="mesured" [title1]="'Monitor student features and track their progress'"></app-checked-list>

<app-footer></app-footer>