<app-header></app-header>
<app-section-header [title]="'Student Success'"></app-section-header>

<app-section-intro [title]="'PulsOne the best host of student support and success'"
   [section]="'serve'"  [image_path]="'images/aa.webp'"
   image_path1="images/GettyImages-1181250359.webp"
    [subtitle]="'improve individual student success throught aper student attributes monitoring'"></app-section-intro>


<app-checked-list [mesured]="mesured" [title1]="'Improving student success is a challenge'"></app-checked-list>
<app-footer></app-footer>