<app-header></app-header>
<app-section-header [title]="'Overview'"></app-section-header>
<app-section-intro [title]="'Built for Success in Higher Education'" [image_path]="'images/GettyImages.webp'"
[image_path1]="'images/Top-5.webp'"
    [section]="'serve'"
    [subtitle]="'stimulates the success of the institution <br> boosts the performance of the faculty <br> lead student s progress toward brighter Professional  ??'"></app-section-intro>
<!-- <app-checked-list [mesured]="mesured" [title1]="'Measure Learning outcomes achievements'"></app-checked-list>
 -->

<!-- <app-carousel></app-carousel> -->
<app-carousel [slides]="mesured"></app-carousel>
<app-footer></app-footer>