<app-header></app-header>
<app-section-header [title]="'Institutional effectiveness leaders'"></app-section-header>
<app-section-intro [title]="'Navigating the complexity of institutional effectiveness'"
   [section]="'serve'"  [image_path]="'images/GettyImages-1483417167-1536x1024.webp'"
   [image_path1]="'images/GettyImages-1419531425.webp'"
    [subtitle]="'and leading a positive transformation toward a bright future.'"></app-section-intro>


<app-checked-list [mesured]="mesured" [title1]="'We understand the challenges you face'"></app-checked-list>
<app-footer></app-footer>