<app-header></app-header>

<app-section-header [title]="'Student success and engagement'"></app-section-header>



<app-section-intro [title]="'Maximize Impact on Student Success and Retention'"
    [image_path]="'images/AP-Hero-Image-2048x1240.png'"
 [section]="'solution'"   [subtitle]="'Track student performance in real time, identify at-risk students early, and provide actionable insights to improve engagement, learning outcomes, and overall retention rates across your institution.'">
</app-section-intro>


<app-checked-list [mesured]="mesured" [mesured2]="mesured2" [title1]="'realtime student performance insights'"
    [title2]="'insight to imporve student success'"></app-checked-list>
    <app-card-list [title]="'What to expect'" [list]="insightsList"></app-card-list>

<app-footer></app-footer>