<app-header></app-header>

<app-section-header [title]="'Curriculum evaluation and update strategy'"></app-section-header>

<app-section-intro [title]="'Optimize Your Curriculum'" [image_path]="'images/AP-Hero-Image-2048x1240.png'"
   [section]="'solution'" [subtitle]="'Gain deep insights into course effectiveness, identify improvement opportunities, and align your programs with market and industry standards.'">
</app-section-intro>

<app-checked-list [mesured]="mesured" [title1]="'A ?? , automated curriculum managment system '"></app-checked-list>
<app-card-list [title]="'What to expect'" [list]="curriculumInsights"></app-card-list>
<app-footer></app-footer>