<app-header></app-header>
<app-section-header [title]="'Provost'"></app-section-header>
<app-section-intro [title]="'Simplifying and facilitating the path to academic excellence'"
    [image_path]="'images/GettyImages-1448474068-1.webp'" [image_path1]="'images/GettyImages-1473800077.webp'"
  [section]="'serve'"  [subtitle]="'your right solution to meet ??? and e?? acc???'"></app-section-intro>


<app-checked-list [mesured]="mesured" [title1]="'We feel your pain'"></app-checked-list>
<app-footer></app-footer>