<div class="text-gray-600 text-sm flex items-center justify-center gap-2">
  <!-- Home link -->
  <span class="capitalize text-lg cursor-pointer hover:text-teal-500" [routerLink]="['/home']">Home</span>
  <mat-icon class="mt-1 mr-2">arrow_right_alt</mat-icon>

  <!-- Dynamic parts -->
  <ng-container *ngFor="let part of breadcrumbParts; let last = last; let i = index">
    <span 
      class="capitalize text-lg cursor-pointer hover:text-teal-500"
      [routerLink]="getLink(i)"
    >
      {{ part }}
    </span>
    <mat-icon *ngIf="!last" class="mt-1 mr-2">arrow_right_alt</mat-icon>
  </ng-container>
</div>