
<app-header ></app-header>

<app-section-1></app-section-1>



<app-footer></app-footer>
<!-- <div class="_1920-w-default">



  <div class="x"> <img
    class="capture-d-cran-2025-06-11-114859-1"
    src="images/cap.png"
  />
  <div class="_10-1"></div>
  <img class="_12-1" src="images/891k.png" />
  <img class="_13-1" src="images/32M.png" />
  <div class="pulse-one-empowers-continuous-improvement">
    <span>
      <span class="pulse-one-empowers-continuous-improvement-span">
        Pulse One
      </span>
      <span class="pulse-one-empowers-continuous-improvement-span2">
        empowers
      </span>
      <span class="pulse-one-empowers-continuous-improvement-span">
        continuous improvement
      </span>
    </span>
  </div></div>
 
  <div class="line-1"></div>
  <div class="line-2"></div>
  <div class="line-3"></div>
  <div class="line-4"></div>
  <div class="header">
    <div class="container">
      <div class="container2">
        <div class="container3">
          <div class="nav">
            <div class="navigation-main-menu-list">
              <div class="component-16">
                <div class="component-13">
                  <div class="text">What we do</div>
                  <div class="component-14">
                    <div class="container4">
                      <img class="component-1" src="images/component-10.svg" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="component-15">
                <div class="component-132">
                  <div class="text">Who we serve</div>
                  <div class="component-142">
                    <div class="container4">
                      <img class="component-12" src="images/component-11.svg" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="component-15">
                <div class="component-132">
                  <div class="text">Resources</div>
                  <div class="component-143">
                    <div class="container4">
                      <img class="component-17" src="images/component-12.svg" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="component-15">
                <div class="component-132">
                  <div class="text">Who we are</div>
                  <div class="component-144">
                    <div class="container4">
                      <img class="component-18" src="images/component-13.svg" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="component-15">
                <div class="component-132">
                  <div class="text">For our clients</div>
                  <div class="component-145">
                    <div class="container4">
                      <img class="component-19" src="images/component-14.svg" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="margin">
            <div class="component-7">
              <div class="container5">
                <img class="component-1" src="images/component-1.svg" />
              </div>
              <div class="text2">Book A Meeting</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container6">
    <div class="component-4">
      <div class="container7">
        <img class="component-3" src="images/component-30.svg" />
      </div>
      <div class="text3">Our Solutions</div>
    </div>
  </div>
  <div class="rectangle-24"></div>
  <img
    class="capture-d-cran-2025-06-13-111740-1"
    src="images/capture-d-cran-2025-06-13-111740-1.png"
  />
  <img
    class="capture-d-cran-2025-06-13-112027-1"
    src="images/capture-d-cran-2025-06-13-112027-1.png"
  />
  <div class="we-re-ready-to-help">We’re ready to help</div>
  <div class="what-could-pluse-one-do-for">What could Pluse One do for</div>
  <div class="your-institution">
    <span>
      <span class="your-institution-span">your</span>
      <span class="your-institution-span2"> institution?</span>
    </span>
  </div>
  <div class="component-42">
    <div class="container8"></div>
  </div>
  <div class="request-demo">Request demo</div>
  <img class="right-arrow" src="images/right-arrow.png" />
  <div class="component-182">
    <div class="container8"></div>
  </div>
  <div class="request-demo2">Request demo</div>
  <img class="right-arrow2" src="images/right-arrow.png" />
  <div class="pluse-one-solution">Pluse One Solution</div>
  <div class="about">About</div>
  <div class="connect">Connect</div>
  <div class="our-solutions">Our Solutions</div>
  <div class="assessment-projects">Assessment Projects</div>
  <div class="course-evaluations-surveys">Course Evaluations &amp; Surveys</div>
  <div class="curriculum-strategy">Curriculum Strategy</div>
  <div class="faculty-success">Faculty Success</div>
  <div class="planning-self-study">Planning &amp; Self-Study</div>
  <div class="student-learning-licensure">
    Student Learning &amp;
    <br />
    Licensure
  </div>
  <div class="student-success-engagement">
    Student Success &amp;
    <br />
    <br />
    <br />
    Engagement
  </div>
  <div class="about-pluse-one">
    About Pluse One
    <br />
  </div>
  <div class="legal-resources">Legal resources</div>
  <div class="join-our-team">
    Join our team
    <br />
  </div>
  <div class="sign-in2">Sign in</div>
  <div class="get-support2">Get support</div>
  <div class="contact-us">Contact us</div>
  <div class="events">
    Events
    <br />
  </div>
  <div class="press">
    Press
    <br />
  </div>
  <div class="resources">
    Resources
    <br />
  </div>
  <div class="aws-hosting">AWS hosting</div>
  <div class="rectangle-28"></div>
  <div class="rectangle-29"></div>
  <div class="rectangle-30"></div>
  <img class="linked-in" src="images/linked-in.png" />
  <img class="facebook-f" src="images/facebook-f.png" />
  <img class="you-tube-logo" src="images/you-tube-logo.png" />
  <img class="image-19" src="images/image-19.png" />

  <div class="your-goals-efficiently">

  Reliable data gathering and analysis 
  
  to drive your goals efficiently.
    <br />
  </div>
  <div class="strategic-goals">
    <span>
      <span class="strategic-goals-span">Strategic </span>
      <span class="strategic-goals-span2">goals.&quot;</span>
    </span>
  </div>
  <img class="tecop-consultancy-1" src="images/tecop-consultancy-1.png" alt="image 10" />
  <div class="group-1">
    <div class="rectangle-11"></div>
    <img
      class="capture-d-cran-2025-06-11-130349-1"
      src="images/capture-d-cran-2025-06-11-130349-1.png"
    />
    <img class="rectangle-12" src="images/rectangle-12.svg" />
    <div class="request-demo3">request demo</div>
    <img class="right-arrow3" src="images/right-arrow.png" />
    <div class="what-we-do">WHAT WE DO</div>
    <div
      class="expert-in-academic-quality-assurance-crafted-by-a-highly-qualified-qa-board-with-more-than-15-years-of-experience-with-various-accreditation-bodies"
    >
      <br />
      Expert in Academic Quality Assurance.
      <br />
      Crafted by a highly qualified QA Board with more than 15 years of
      experience with various accreditation bodies
    </div>
    <div
      class="pulse-one-also-looks-deeper-beyond-data-to-uncover-key-insights-that-boost-student-faculty-alumni-and-institution-thrive"
    >
      PulseOne also looks deeper beyond data to uncover key insights
      <br />
      that boost student, faculty, alumni and institution
      <br />
      thrive.
    </div>
    <div class="d-1-specification-layer">
      <br />
      D1. Specification Layer
    </div>
    <img class="chevron-down" src="images/chevron-down.png" />
    <div class="d-2-assessment-layer">D2. Assessment Layer</div>
    <div class="d-3-reporting-layer">D3. Reporting Layer</div>
    <div class="d-4-faculty-progress-monitoring">
      D4. Faculty Progress Monitoring
    </div>
    <div class="rectangle-15"></div>
    <img class="chevron-down2" src="images/chevron-down.png" />
    <img class="chevron-down3" src="images/chevron-down.png" />
    <img class="chevron-down4" src="images/chevron-down.png" />
    <div class="pulse-one">PulseOne:</div>
  </div>
  <div
    class="pulse-one-intelligence-and-the-automation-of-tedious-quality-assurance-tasks-to-keep-staff-and-our-leader-s-focus-on-progress-and-success"
  >
    <span>
      <span
        class="pulse-one-intelligence-and-the-automation-of-tedious-quality-assurance-tasks-to-keep-staff-and-our-leader-s-focus-on-progress-and-success-span"
      >
        Pulse One:
        <br />
      </span>
      <span
        class="pulse-one-intelligence-and-the-automation-of-tedious-quality-assurance-tasks-to-keep-staff-and-our-leader-s-focus-on-progress-and-success-span2"
      >
        <br />
        Intelligence and the automation
        <br />
        <br />
        of tedious quality assurance tasks to keep
        <br />
        <br />
        staff and our leader&#039;s focus on progress and
        <br />
        <br />
        success.&quot;
      </span>
    </span>
  </div>
  <img class="image" src="images/Group 2.png" />
  <img
    class="chat-gpt-image-19-juin-2025-11-10-27-1"
    src="images/chat-gpt-image-19-juin-2025-11-10-27-1.png"
  />
  <img
    class="chat-gpt-image-19-juin-2025-11-10-35-1"
    src="images/chat-gpt-image-19-juin-2025-11-10-35-10.png"
  />
  <img class="image2" src="images/image1.png" />
  <img
    class="chat-gpt-image-19-juin-2025-11-10-35-5"
    src="images/chat-gpt-image-19-juin-2025-11-10-35-50.png"
  />
  <img class="image3" src="images/image2.png" />
  <img
    class="chat-gpt-image-19-juin-2025-11-10-35-6"
    src="images/chat-gpt-image-19-juin-2025-11-10-35-60.png"
  />
  <img class="image4" src="image.png" />
  <img
    class="chat-gpt-image-19-juin-2025-11-10-35-7"
    src="images/chat-gpt-image-19-juin-2025-11-10-35-70.png"
  />
  <div class="a-1"></div>
  <img class="image5" src="images/image4.png" />
  <img
    class="chat-gpt-image-19-juin-2025-11-10-35-2"
    src="images/chat-gpt-image-19-juin-2025-11-10-35-20.png"
  />
  <img class="image6" src="images/image5.png" />
  <img
    class="flechetrans"
    src="images/Group 2.png"
  />
  <img class="image7" src="images/image.png" />
  <img
    class="chat-gpt-image-19-juin-2025-11-10-35-4"
    src="images/flechetrans.png"
  />
</div>
 
 -->