<app-header></app-header>

<app-section-header [title]="'Assessment and improvment Projects'"></app-section-header>

<app-section-intro [title]="'A reliable Automated process'" [image_path]="'images/AP-Hero-Image-2048x1240.png'"
    [subtitle]="' To transform measurements into effective, achievable actions and achieve your dream'"></app-section-intro>
<app-checked-list [mesured]="mesured" [title1]="'Measure Learning outcomes achievements'"></app-checked-list>

<app-card-list [title]="'What to expect'" [list]="expect"></app-card-list>
<app-footer></app-footer>