<!-- header.component.html -->
<div class="flex items-center w-full bg-custom-mint-100 p-4">
  <div class="flex flex-row justify-end items-center gap-4 w-full">
    <!-- Sign In Button -->
    <button mat-button class="inline-flex items-center gap-2 text-slate-900 text-sm md:text-md">
      <div class="flex flex-row gap-2 items-center"> <img src="images/icons/user.svg" class="w-8 h-8" alt="user icon">
        <span>Sign In</span>
      </div>
    </button>

<!-- Support Button -->
<button mat-button class="inline-flex items-center w-fit  text-slate-900 text-sm md:text-md">
  <div class="flex flex-row gap-2 items-center"> <img src="images/icons/head.svg" class="w-7 h-7" alt="support icon">
    <span>GET SUPPORT</span>
  </div>
</button>

    <!-- Search Icon -->
    <button mat-icon-button class="text-slate-900 text-md">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>

<div class="shadow-md w-full bg-gradient-beige ">
  <div class="flex justify-between items-center px-4 py-2 max-w-7xl mx-auto w-full">
    <div class="flex items-center cursor-pointer " routerLink="/home">
      <img src="images/image-19.png" alt="Logo" class="h-10">
    </div>

    <div class="hidden md:flex items-center space-x-6 z-999" #menuContainer>
      <div *ngFor="let item of menuItems" class="relative group">
        <button class="flex w-full items-center text-gray-700 hover:text-blue-600" (click)="toggleItem(item, menuItems)">
          <span class="text-lg">{{ item.title }}</span>
          <mat-icon class="ml-auto">keyboard_arrow_down</mat-icon>
        </button>

        <div class="absolute z-50 w-[500px] bg-white shadow-lg rounded-md mt-1 p-3" *ngIf="item.expanded">
          <div *ngIf="item.title !== 'What we do'">
            <a *ngFor="let subItem of getchildren(item)" (click)="clicked(subItem)"
              class="text-md block px-4 py-2 text-gray-700 hover:bg-blue-50 hover:text-blue-600 menu-item">
              {{ subItem.label }}
            </a>
            </div>
          <div *ngIf="item.title === 'What we do'" class="flex flex-row gap-2 w-full">
          
            <div class="flex flex-col gap-4 text-lg w-full bg-custom-beige-100 rounded">
              <h4 class="font-semibold text-gray-800 my-2 text-center">Solutions</h4>
              <div *ngFor="let subItem of getSolutions(item)" class="flex items-center gap-3 cursor-pointer w-full hover-effect"
                (click)="clicked(subItem)">
                <!-- <div class="flex-shrink-0 flex items-center justify-center w-8 h-8 bg-teal-300 rounded-full">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <mat-icon class="text-sm m-0 p-0">add</mat-icon>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                </div> -->
                <span class="menu-item text-md px-2 py-1 rounded hover:bg-teal-100 w-full">
                  {{ subItem.label }}
                </span>
              </div>
              </div>

          <div class="flex flex-col gap-4 text-lg w-full bg-custom-beige-100 rouned">
            <h4 class="font-semibold text-gray-800 my-2 text-center">Use Cases</h4>
            <div *ngFor="let subItem of getUseCases(item)" class="flex items-center gap-3 cursor-pointer w-full hover-effect"
              (click)="clicked(subItem)">
              <!--   <div class="flex-shrink-0 flex items-center justify-center w-8 h-8 bg-teal-300 rounded-full">
                                                                                                                                                                                                                                                                                                                                                                                  <mat-icon class="text-sm">add</mat-icon>
                                                                                                                                                                                                                                                                                                                                                                                </div> -->
              <span class="menu-item text-sm px-2 py-1 rounded hover:bg-teal-100 w-full">
                  {{ subItem.label }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-1 w-40 bg-teal-400 flex flex-row gap-2 rounded-tr-xl rounded-bl-xl rounded cursor-pointer hover-effect"
      (click)="click()">
      <span class="text-md font-semibold ml-2">Book A Meeting</span>
      <mat-icon class="ml-auto">arrow_forward</mat-icon>
      </div>

    <button mat-icon-button class="md:hidden" (click)="toggleMobileMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

<div class="md:hidden bg-white shadow-lg p-2 flex flex-col" *ngIf="mobileMenuOpen">
    <div *ngFor="let item of menuItems" class="border-t border-gray-100">
      <button class="flex w-full items-center hover:bg-teal-100 p-3" (click)="toggleItem(item, menuItems)">
        <span class="text-lg">{{ item.title }}</span>
        <mat-icon class="ml-auto">
          {{ item.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
        </mat-icon>
      </button>

      <div *ngIf="item.expanded" class="bg-gray-50 pl-6">
        <ng-container *ngIf="!(item.title === 'What we do')">
          <div *ngFor="let subItem of getchildren(item)" (click)="clicked(subItem)" class="block p-3 hover:bg-teal-100 menu-item">
            {{ subItem.label }}
          </div>
        </ng-container>
        
        <ng-container *ngIf="item.title === 'What we do'">
          <div class="py-2">
            <h4 class="font-semibold text-gray-800 mb-1">Solutions</h4>
            <div *ngFor="let subItem of getSolutions(item)" (click)="clicked(subItem)"
              class="block p-3 hover:bg-teal-100 menu-item">
              {{ subItem.label }}
            </div>
          </div>
          <div class="py-2" *ngIf="getSolutions(item).length > 0">
            <h4 class="font-semibold text-gray-800 mb-1">Use Cases</h4>
            <div *ngFor="let subItem of getUseCases(item)" (click)="clicked(subItem)" class="block p-3 hover:bg-teal-100 menu-item">
              {{ subItem.label }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <button mat-raised-button color="primary" class="m-4 bg-teal-400 text-white w-80 mx-auto hover-effect"
      (click)="click()">
      Book A Meeting
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
