<app-header></app-header>

<app-section-header [title]="'Planing and self study'"></app-section-header>



<app-section-intro [title]="' Accurate data driven decision'" [image_path]="'images/AP-Hero-Image-2048x1240.png'"
 [section]="'solution'"   [subtitle]="' through cenralized outcomes and assessment planning <br>steamliness multilevel outcomes planning and assessments'"></app-section-intro>

<app-checked-list [mesured]="mesured" [title1]="'Lorem Tempor voluptate eiusmod'"></app-checked-list>

<app-card-list [title]="'What to expect'" [list]="insightsList"></app-card-list>

<app-footer></app-footer>