<app-header></app-header>

<app-section-header [title]="'Course Evaluation and improvement'"></app-section-header>


<app-section-intro [title]="'Deepr Insights'" [image_path]="'images/AP-Hero-Image-2048x1240.png'"
    [subtitle]="'into accurate and feedback for course\'s improvements'">
    ></app-section-intro>
<app-checked-list [mesured]="mesured"
    [title1]="'engage student in fully Anonymous and private data ???'"></app-checked-list>
<app-card-list [title]="'What to expect'" [list]="insightsList"></app-card-list>
<app-footer></app-footer>