<app-header></app-header>

<app-section-header [title]="'Faculty perfomance boost'"></app-section-header>


<app-section-intro [title]="' Monitor Faculty impact'" [image_path]="'images/AP-Hero-Image-2048x1240.png'"
[section]="'solution'"    [subtitle]="'Boost the faculty with new features.<br> Reduce the gap with industry partners.'"></app-section-intro>
<app-checked-list [mesured]="mesured" [mesured2]="mesured2" [title1]="'Promote professional development'"
    [title2]="'Access data on demand'"></app-checked-list>
<app-card-list [title]="'What to expect'" [list]="insightsList"></app-card-list>

<app-footer></app-footer>