
  <div class="flex flex-row w-full  mt-10">
    <div class="flex flex-col mx-auto my-auto" >
      <p class="text-3xl  w-80 ">

        "Reliable data gathering and analysis to drive your goals efficiently. <strong>Strategic</strong> goals."
      </p>

     
    </div>

    <img
      src="images/image1.png"
      alt="section1"
      class="w-140 h-140 mr-50"
    />
  </div>


  
  <div class="flex flex-row w-full  mt-10">
    
    <img
      src="images/tecop-consultancy-1.png"
      alt="section1"
      class="w-140 h-120 ml-50"
    />
    <div class="flex flex-col mx-auto my-auto" >
      <p class="text-3xl  w-80 ">

        " <strong>Pulse One:</strong><br/> 

 Intelligence and the automation 

 of tedious quality assurance tasks to keep

 staff and our leader's focus on progress and

 success."
      </p>

 
    </div>
  </div>
 
<div class="flex flex-col w-full justify-center items-center mt-10 gap-10">
  <div class=" p-5 flex flex-col rounded-tr-3xl bg-teal-200 w-50 justify-center">
    <span class="text-xl"> 441 M+</span>

    <span class="text-sm text-slate-500"
      >personalized students engagements</span
    >
  </div>

  <div class="flex flex-row gap-10">
    <div class="flex p-5 flex-col rounded-bl-3xl bg-blue-200 w-50 justify-center">
      <span class="text-xl"> 441 M+</span>

      <span class="text-sm text-slate-500"
        >personalized students engagements</span
      >
    </div>
    <div class="flex p-5 flex-col rounded-tr-3xl bg-orange-200 w-50 justify-center">
      <span class="text-xl"> 441 M+</span>

      <span class="text-sm text-slate-500"
        >personalized students engagements</span
      >
    </div>
  </div>
</div>
